body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
.container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}
#text {
    font-size: 24px;
    margin-bottom: 20px;
}
.btn {
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 5px;
}
.increase {
    background-color: #28a745;
}
.reduce{
    background-color: #dc3545; 
}